<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--logger for noizy startup messages-->
    <logger name="com.yob.bot.app.GrabAdapterApplication" level="warn">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!--all over application logger-->
    <logger name="com.yob.bot" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
